body,
html,
h1,
p {
  margin: 0;
}
button {
  background: none;
  display: block;
  align-items: center;
  border: none;
  text-align: left;
}
input {
  outline: none !important;
  border: none;
}
html:any-link {
  text-decoration: none;
  color: black;
}

html {
  scrollbar-gutter: stable;
  font-size: 16px;
}

* {
  font-family: "Commissioner", sans-serif;
}

@media screen and (max-width: 1900px) {
}
@media screen and (max-width: 1420px) {
}
@media screen and (max-width: 1024px) {
}
